@import "../../index.scss";

.detail {
  @media (max-width: ($tablet)) {
    margin-bottom: 50px;
  }
  @media (max-width: ($phone)) {
    height: 150px;
    margin-top: 60px;
  }


  &-title {
    font-size: 22px;
  }
  &-div {
    margin-top: 27px;
    font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
    font-weight: lighter;
    height: 200px;
    width: 200px;
    overflow-y: auto;

    @media (max-width: ($tablet)) {
      width: 245px;
    }

    @media (max-width: ($phone)) {
      width: 245px;
      height: auto;
      max-height: 150px;
      overflow-y: scroll;
    }

    &__detail {
      margin-bottom: 15px;
    }
  }
}
