@import "../../index.scss";

.home {
  margin: 0 80px;
  @media (max-width: ($tablet)) {
  margin: 0;
  }
  
  &-components {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    position: fixed;
    z-index: 1;
    top: 20px;
    width: 78%;
    padding: 0 10px;
    @media (max-width: ($tablet)) {
      font-size: 14px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 98.5%;
      padding: 0 20px 0 0;
    }
    @media (max-width: ($phone)) {
      font-size: 14px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      padding: 0 20px 0 0;
    }
  }

  &-div {
    &__img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      @media (max-width: ($tablet)) {
        height: auto;
        width: 100%;
        top: 25%;
      }
      @media (max-width: ($phone)) {
        height: auto;
        width: 100%;
        top: 35%;
      }
    }
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 76vh;
      z-index: 2;
      font-size: 8vw;
      font-weight: 100;
      @media (max-width: ($tablet)) {
        font-size: 50px;
      }
      @media (max-width: ($phone)) {
        font-size: 20px;
      }
    }
  }
  &-navbar {
    position: fixed;
    bottom: 10px;
    width: 79.6%;

    @media (max-width: ($tablet)) {
      width: 100%;
    }
  }
}
