@import "./index.scss";

.App {
  text-align: center;
  color: whitesmoke;
}

.app-div {
  height: 76vh;
  overflow-y: auto;
  margin: 0 5vw;
  @media (max-width: ($tablet)) {
    margin: 0;
    height: 83vh;
  }
  @media (max-width: ($phone)) {
    margin: 0;
    height: 83vh;
  }
}
