@import "~bootstrap/scss/bootstrap-grid";

@font-face {
  font-family: got;
  src: url(../public/Game_of_Thrones.ttf);
}

//Variables
$phone: 576px;
$tablet: 768px;
$desktop: 992px;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "got", sans-serif;
  background-color: black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: whitesmoke;
}

@media (max-width: ($tablet)) {
  ::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: ($phone)) {
  ::-webkit-scrollbar {
    display: none;
  }
}
